include includes/head.pug
//- Maybe make this an includes
.header
    .sbb-container
        img(src='/assets/sbb_hero.png')
//-----------------------------
.content-container
    .content
        h1!='sadbumblebee'
        .desc
            p Appreciate the visit.
            p I am a journalist. I create memorable coverage through dataviz, motion graphics, and illustrations.
            p I value trust, communication, and action.
            p If you wanna work together, that’s great. Take a look at my 
                a(href='/work.html') projects
        .social
            hr
            ul
                li 
                    a(
                        href="https://twitter.com/sadbumblebee"
                        target="_blank"
                    ) Twitter
                li 
                    a(
                        href="https://github.com/sadbumblebee"
                        target="_blank"
                    ) Github
                li 
                    a#email-link(
                        href=""
                    ) Email
include includes/footer.pug