//- metadata content loaded in index.js
- var features = locals.content
- function placeSide(val) { if ((val + 1) % 2 == 0) { return 'right' } else { return 'left' } }

include includes/head.pug
//- Maybe make this an includes
.header
    .sbb-container
        img(src='/assets/sbb_hero.png')
    .breadcrumb!="<a href='" + locals.url + "'>home</a> &ndash; work"
//-----------------------------
.content-container
    .content
        h1 Selected work
        p.intro Hello, my name is Daniel Wolfe.
        p.intro Collected below are some highlights of my career so far, from nearly a decade's worth of data visualization work at CNN, Quartz, Planet Labs, Tesla, and the Urban Institute. 
        .features-container
            for feature, i in features
                .feature-container
                    .feature
                        a(
                            href!=feature.url
                            target='_blank'
                        )
                            .feature--image(
                                style='background-image: url("/assets/' + feature.image + '")'
                            )
                                .feature--hed!=feature.hed
                                .feature--byline
                                    .byline--date!=feature.date
                                    .byline--source!=feature.source
                        .feature--copy!=feature.copy
                        if feature.tags
                            ul.feature--tags
                                for tag in feature.tags
                                    li.tag!=tag
                    if feature.annotation
                        a(
                            href!=feature.ann_url
                            target='_blank'
                        )
                            .annotation(
                                class=  placeSide(i)
                            )!=feature.annotation
                        .annotation-emoji
include includes/footer.pug
script(src='/js/portfolio.js')